.image-upload {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
}

.upload-icon{
  cursor: pointer;
}

/* Estilo para esconder o input de arquivo */
input[type='file'] {
  display: none;
}