.feedBackgroundColor{
    background-color: #f0f0f0;
}

.burgermenufeed{
    display: none;
}

.feedContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 50px;
    height: 100vh;
    overflow: hidden;
    max-width: 1280px;
}

.textin{
    width: 100%;
}

.postContainerFeed{
    height: calc(100vh - 170px);
    overflow:auto;
    margin-top: 20px;
}

.image-icone{
    cursor: pointer;
    display: flex;
    font-size: 25px;
}

.column-dir img{
    margin-top: 70px;
    width: 187px;
    height: 226px;
}

@media screen and (max-width: 950px) {
    .column-dir {
      display: none;
    }
  }

@media screen and (max-width: 775px) {
    .column{
      display: none;
    }
    .feedContainer{
        margin: 0;
    }
    .burgermenufeed{
        display: flex;
        
    }
    .hamburger-menu{
        left: 2%;
        top: 2%;
        position: absolute;
    }
  }

@media screen and (max-width: 775px) {
    .image-icone{
        font-size: 25px;
    }
}